<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anydoortrip.anydoortrip.apps.hotel.mapper.HotelMapper">

    <resultMap id="GroupData" type="com.anydoortrip.anydoortrip.apps.hotel.responseData.GroupData">
        <result column="id" javaType="INTEGER" property="id"/>
        <result column="group_id" jdbcType="INTEGER" property="groupId"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
        <result column="group_desc" jdbcType="VARCHAR" property="groupDesc"/>
        <result column="api_id" jdbcType="INTEGER" property="apiId"/>
        <result column="create_at" jdbcType="DATE" property="createAt"/>
        <result column="update_at" jdbcType="DATE" property="updateAt"/>
        <collection property="brandData" ofType="com.anydoortrip.anydoortrip.apps.hotel.responseData.BrandData">
            <result column="id" jdbcType="INTEGER" property="id"/>
            <result column="brand_id" jdbcType="VARCHAR" property="brandId"/>
            <result column="brand_chain" jdbcType="VARCHAR" property="brandChain"/>
            <result column="brand_name" jdbcType="VARCHAR" property="brandName"/>
            <result column="brand_display_name" jdbcType="VARCHAR" property="brandDisplayName"/>
            <result column="brand_logo_url" jdbcType="VARCHAR" property="brandLogoUrl"/>
            <result column="brand_desc" jdbcType="VARCHAR" property="brandDesc"/>
            <result column="brand_display_desc" jdbcType="VARCHAR" property="brandDisplayDesc"/>
            <result column="group_id" jdbcType="INTEGER" property="groupId"/>
            <result column="create_at" jdbcType="DATE" property="createAt"/>
            <result column="update_at" jdbcType="DATE" property="updateAt"/>
        </collection>

    </resultMap>
    <!--    查询品牌信息-->
    <select id="getBrand" resultMap="GroupData">

        SELECT hg.id AS group_id,
               hg.group_name,
               hg.group_desc,
               hb.id AS brand_id,
               hb.brand_chain,
               hb.brand_name,
               hb.brand_display_name,
               hb.brand_logo_url,
               hb.brand_desc,
               hb.brand_display_desc
        FROM hotel_group hg,
             hotel_brand hb
        WHERE hg.id = hb.group_id;
    </select>


</mapper>